<div class="col-md-7 col-md-offset-2 animated fadeInDown">
  <div class="portlet row">
    <div class="portlet-header">
      <h3>Editar questão!</h3>
    </div>
    <%= render 'form' %>
    <div class="form-group col-md-6">
      <%= link_to 'Voltar', questions_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>