<div class="form-group col-md-12">
  <div class="col-md-offset-3 col-md-6">
    <%= image_tag('showlogo.png', alt: 'Show do Milhão!') %>
    <%= audio_tag("trilhaSonora.mp3", autoplay: '', loop: '', preload: 'auto') %>
  </div>
</div>