<% if notice %>
    <div class="alert alert-success alert-dismissible fade in text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <strong>ATENÇÃO: </strong> <%= notice %>
    </div>
<% end %>

<div class="container">
  <div class="center-quiz">
    <% if cms_scope? %>
        <h1>Aqui, é onde você vai mecher!! AHEAUEHUAEHUAEHUE.</h1>
    <% else %>
        <%= render 'resource' %>
        <div class="col-md-12">
          <h1 align="center">Você quer ser um milionário?...</h1>

          <% if current_player.blank? %>
              <h4 align="center">Primeiro entre com alguma rede social!</h4>
              <%= render 'devise/shared/links' %>
          <% else %>
              <%= link_to 'SIM eu QUERO ser um milionário!', new_game_path,
                          class: 'btn btn-success btn-lg center-block' %>
          <% end %>
        </div>
    <% end %>
  </div>

</div>