<% if current_player.blank? %>
    <h1>Olá! Faça login :D</h1>
    <%= link_to 'Clique aqui!!', entrar_path %>
<% else %>
    <h1>Welcomeee Guardian: <%= current_player.name %></h1>

    Aqui irão aparecer os links de ranking e jogar!

<% end %>