<div class="col-md-7 col-md-offset-2 animated fadeInDown">
  <div class="portlet row">
    <div class="portlet-header">
      <h3>Nova resposta!</h3>
    </div>
    <%= render 'form' %>
    <div class="form-group col-md-6">
      <%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span> Voltar'),
                  answers_path, class: 'btn btn-primary pull-right white' %>
    </div>
  </div>
</div>