<nav class="navbar navbar-inverse navbar-fixed-top navbar-right" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to raw('<span class="glyphicon glyphicon-home"></span> Início'), root_path %>
        </li>
        <li>
          <%= link_to raw('<span class="glyphicon glyphicon-font"></span> Questões'),
                      questions_path %>
        </li>
        <li>
          <%= link_to raw('<span class="glyphicon glyphicon-book"></span> Assuntos'),
                      subjects_path %>
        </li>
        <li>
          <%= link_to raw('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-log-out"></span> Sair'),
                      sair_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="padding-bottom: 30px;">&nbsp;</div>